name: CI

on:
  push:
    branches:
      - master
      - release
      - feature/*
      - fix/*

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      REGISTRY: oci.khaji.it/rti
      FORCE_COLOR: 1
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: recursive
          token: ${{ secrets.RTIBOT_DB_TOKEN }}
      - name: Inject slug variables
        uses: rlespinasse/github-slug-action@955b5ba4560860f8a633bd24190941f16016e42c # v5.1.0
        with:
          short-length: 8
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Login to Docker
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/rtiapi:${{ env.GITHUB_REF_SLUG }}
          build-args: |
            commitId=${{ env.GITHUB_SHA_SHORT }}
            branch=${{ env.GITHUB_REF_NAME }}
